.benefits {
  padding: 94px 0;
}

.benefits__list {
  display: flex;
  gap: var(--portfolio-gap);
}

.benefits__item {
  width: 270px;
}

.benefits__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-color-secondary-button);
  border-radius: 4px;
}

.benefits__title {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits__text {
  line-height: calc(24 / 14);
  color: var(--color-secondary);
}
