:root {
  --color-primary: #212121;
  --color-secondary: #757575;
  --color-text-hero: #ffffff;
  --bg-color-button-link-logo: #2196f3;
  --color-second-logo: #000000;
  --bg-color-secondary-button: #f5f4fa;
  --bg-color-footer: #2f303a;
  --bg-color-hero: #c4c4c4;
  --icon-color: #AFB1B8;
  --font-primery: 'Roboto', sans-serif;
  --portfolio-gap: 30px;
  --item: 3;
}